
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navButton {
  padding-top: 26px;
  //padding-right: 26px;
  margin-left: -15px;
  margin-right: -15px;
}

.hover:hover {
  background: #ecf2ec;
}
